{% extends 'templates/base.html' %}
{% load static %}

{% block main %}
    <section class="cart">
        <h2>Ваш кошик</h2>
        {% if cart %}
            <div class="cart-items">
                {% for game_id, item in cart.items %}
                    <div class="cart-item">
                        <img class="cart-img" src="{% static item.img %}" alt="{{ item.name }}">
                        <h3>{{ item.name }}</h3>
                        <p>Ціна: ₴{{ item.price }}</p>
                        <p>Кількість: {{ item.quantity }}</p>
                        <a href="{% url 'main:remove_from_cart' game_id %}">Видалити</a>
                    </div>
                {% endfor %}
            </div>
            <h3>Загальна вартість: ₴{{ total_price }}</h3>
            <button class="buy">Купити</button>
        {% else %}
            <p>Ваш кошик порожній.</p>
        {% endif %}
    </section>
{% endblock %}