{% extends 'templates/base.html' %}
{% load static %}
{% block main %}
    <section class="hero">
        <div class="hero-text">
            <h1>Купуйте нові картриджі для Nintendo Switch!</h1>
            <p>Найпопулярніші ігри за найкращими цінами.</p>
            <a href="#" class="btn">Переглянути каталог</a>
            <a href="#" class="btn">Купити зараз</a>
        </div>
    </section>

    <section class="popular-games">
        <h2>Популярні ігри</h2>
        <div class="game-grid">
        {% for game in games %}
            <div class="game-card">
                <img src="{% static game.img %}" alt="{{ game.name }}">
                <h3>{{ game.name }}</h3>
                <p>₴{{ game.price }}</p>
                <a href="{% url 'main:add_to_cart' game.id %}">Додати до кошика</a>
            </div>
        {% endfor %}
        </div>
    </section>

    <section class="special-offers">
        <h2>Спеціальні пропозиції</h2>
        <div class="offer-card">
            <h3>Купи 2 картриджі - отримай знижку 10%</h3>
            <a href="#" class="btn">Детальніше</a>
        </div>
    </section>

    <section class="new-arrivals">
        <h2>Новинки</h2>
        <div class="game-grid">
            <div class="game-card">
                <img src="{% static 'deps/img/prev_1.jpg' %}" alt="Гра новинка 1">
                <h3>Новинка 1</h3>
                <p>₴1400</p>
                <a href="#">Додати до кошика</a>
            </div>
        </div>
    </section>
{% endblock %}
